<div class="container">
  <% if params[:source] == "the_odin_project" %>
    <header>
      <h1 class="odin_header_title">Full Stack Ruby On Rails</h1>
    </header>

    <div class="guidance__box">
      <p class="guidance__box--text">
      This page contains the topics from the
        <a href="https://www.theodinproject.com/paths/full-stack-ruby-on-rails" target="_blank" class="odin-link">
          Full Stack Ruby on Rails curriculum
        </a>
        by The Odin Project.<br>
        <br>
        Select the area you're currently working on or struggling with to explore exercises
        and connect with students who are ready to help you right away.
      </p>
    </div>

    <div class="topic-grid">
      <% @chapters.each do |chapter| %>
        <%= render partial: "odin_chapter", locals: { chapter: chapter } %>
      <% end %>
    </div>
  <% else %>
  <% end %>
</div>
